@font-face {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 200;
    src: local("Monument Extended"),
        url("https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
	cursor: none;
}

html,
body {
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 100vh;
	font-family: "Monument Extended";
	/* background: url(https://media.giphy.com/media/3oEduMhFrYvKk4giac/giphy.gif) no-repeat 50% 50%; */
	background: url(https://media.giphy.com/media/l41lSUaR02JWGtvQQ/giphy.gif) no-repeat 50% 50%;
	/* background: url(https://media.giphy.com/media/3oEdv4M6j5vmuxZ4eA/giphy.gif) no-repeat 50% 50%; */
	/* background: url(https://media.giphy.com/media/3oEdv3HJyXrs2bWheU/giphy.gif) no-repeat 50% 50%; */
	/* background: url(https://media.giphy.com/media/NXTHnknOQKMItz1j9c/giphy-downsized-large.gif) no-repeat 50% 50%; */
	background-size: cover;
	text-transform: uppercase;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

/* cursor */
.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.6rem;
    background-color: palevioletred;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
	z-index: 7;
}

/* circle nav */
header {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header__button {
	z-index: 3;
	width: 50px;
	height: 50px;
	border-radius: 25%;
	border: 0;
	cursor: pointer;
	position: absolute;
	margin-top: 50px;
	margin-left: 95%;
	outline: none;
	animation-duration: 300ms;
	animation-timing-function: ease;
	font-family: Monument Extended;
	mix-blend-mode:exclusion;
}

img {
	width: 60px;
	height: 60px;
	margin-left: -6px;
	margin-top: -5px;
}

.header__button:hover {
	filter: invert();
}

.header__button[data-open="true"] {
	background-color: #000;
	background: url(https://media.giphy.com/media/3oEdv3HJyXrs2bWheU/giphy.gif) no-repeat 50% 50%;
	animation-name: scale;
}

.header__button[data-open="false"] {
	transition: background-color 250ms linear;
	margin-top: 50px;
	margin-right: 60px;
}

@keyframes scale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(100%);
	}
}

.header__nav {
	background-color: #57A773;
	background: url(https://media.giphy.com/media/3ohs4nsg2WyigiHYbu/giphy.gif) no-repeat 50% 50%;
	background-size: cover;
	position: fixed;
	overflow: hidden;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	-webkit-padding-start: 40px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	visibility: hidden;
	clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
	visibility: visible;
}

.header__menu {
	padding: 0;
	margin: 0;
}

.header__menu>.header__menu-item {
	font-size: 12vh;
}

.header__menu>.header__menu-item:not(:last-of-type) {
	margin-bottom: 0em;
}

.header__menu-item a {
	letter-spacing: -4px;
	font-weight: 300 !important;
	color: #000;
	text-decoration: none;
	line-height: 150px;
	margin-left: 20px;
}

.header__menu-item a:hover {
	/* filter: grayscale(100%); */
	color: #9bd1e5;
}


.gif-overlay {
	z-index: -1;
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 100vh;
	background: rgba(14, 14, 14, 0.8);
}

.nav {
	position: fixed;
	width: 100%;
	height: 80px;
}

.doomsday {
	z-index: 1;
	position: fixed;
	line-height: 80px;
	margin: 0 40px;
	color: #57A773;
}

.watch {
	z-index: 1;
	position: fixed;
	right: 140px;
	line-height: 80px;
	margin: 0 40px;
	color: #57A773;
	padding: 0 10px;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 4px;
	text-decoration: none;
}

.watch ion-icon {
	z-index: 2;
	position: relative;
	top: 1px;
	padding-right: 6px;
	text-decoration: none;
}

.social_link a {
	text-decoration: none;
}

.social_link a:active {
	color: #57A773;
	text-decoration: none;
}

.social_link a:visited {
	color: #57A773;
	text-decoration: none;
}

.menu {
	z-index: 2;
	position: fixed;
	right: 0;
	font-size: 20px;
	line-height: 80px;
	margin: 0 40px;
	color: #57A773;
	padding-top: 4px;
	text-decoration: none;
}

.hero-gif {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 48vw;
	height: 46vh;
	background: url(images/hero2.gif) no-repeat 50% 50%;
	background-size: cover;
	animation-delay: 2s;
	animation: animateGIF 4s cubic-bezier(0, .58, 1, .58);
}

@keyframes animateGIF {
	0% {
		width: 100%;
		height: 100%;
	}

	40% {
		width: 100%;
		height: 100%;
	}

	100% {
		width: 48vw;
		height: 46vh;
	}
}

.hero-title {
	position: absolute;
	top: 40%;
	left: 35.5%;
	transform: translate(-50%, -50%);
	mix-blend-mode: exclusion;
}

.hero-title h1 {
	color: #57A773;
	text-transform: uppercase;
	font-size: 80px;
	margin-bottom: 0%;
}

.glitch {
	position: relative;
	color: 57A773;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.glitch::before {
	left: 4px;
	text-shadow: -31px 0 #D1FAFF;
	background: black;
}

.glitch::after {
	left: -3px;
	text-shadow: -3px 0 #6A8EAE;
	background: black;
}

.glitch::before {
	clip: rect(54px, 250px, 56px, 40px);
}

@keyframes noise-anim {
	0% {
		clip-path: inset(40% 0 61% 0);
	}

	20% {
		clip-path: inset(92% 0 1% 0);
	}

	40% {
		clip-path: inset(43% 0 1% 0);
	}

	60% {
		clip-path: inset(25% 0 58% 0);
	}

	80% {
		clip-path: inset(54% 0 7% 0);
	}

	100% {
		clip-path: inset(58% 0 43% 0);
	}
}

.glitch::before {
	animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch::after {
	animation: noise-anim 2s infinite linear alternate-reverse;
}

.hero-title p {
	color: white;
	font-family: "Libre Baskerville";
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 14px;
}

.social-media {
	position: absolute;
	bottom: .5%;
	transform: translateY(-50%);
}

.social-media ul li {
	display: inline-block;
	list-style: none;
	color: white;
	padding: 0 10px;
	font-family: "Libre Baskerville";
	font-size: 12px;
	font-weight: 100;
}

.listen {
	position: absolute;
	bottom: 0%;
	right: 40px;
	transform: translateY(-50%);
}

.listen ul li {
	display: inline-block;
	list-style: none;
	color: #fff;
	padding: 0 10px;
}

#rotated {
	color: #57A773;
	font-family: "Monument Extended";
	font-weight: 100;
	font-size: 12px;
	letter-spacing: 7px;
}

.rotatethis {
	position: absolute;
	top: 32%;
	left: 74%;
	transform: translate(-50%, -50%);
	animation: rotating 20s linear infinite;
	mix-blend-mode: difference;
}

.social_link {
	color: #57A773;
	text-decoration: none;
}

.social_link:hover {
	color: #D1FAFF;
	text-decoration: none;
}

.protocol {
	color: #6A8EAE;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 900px) {
	.cursor
	.watch,
	.rotatethis,
	.hero-title p,
	.hero-gif {
		display: none !important;
	}

	.cursor{
		visibility: hidden;
	}

	.hero-title {
		top: 45%;
		left: 50%;
	}

	.hero-title h1 {
		font-size: 32px;
	}
	.doomsday{
		font-size: 10px;
		left: -30px;
	}
	.img {
		margin-left: -15px;
	}

	.social-media {
		left: 20px;
	}
	.header__menu-item a {
		letter-spacing: 1px;
		font-weight: 300 !important;
		color: #000;
		text-decoration: none;
		line-height: 100px;
		margin-left: 20px;
		font-size: 40px;
	}
	.header__button[data-open="false"] {
		/* transition: background-color 250ms linear; */
		margin-top: 50px;
		margin-right: 20px;
	}
	.header__button {
		z-index: 3;
		width: 50px;
		height: 50px;
		border-radius: 25%;
		border: 0;
		cursor: pointer;
		position: absolute;
		margin-left: 80%;
		margin-top: 50px;
		outline: none;
		animation-duration: 300ms;
		animation-timing-function: ease;
		font-family: Monument Extended;
		mix-blend-mode:exclusion;
	}
}

