html,
body {
    background: url(https://media.giphy.com/media/kZw8SECb7VkozVZVDZ/giphy.gif) no-repeat 50% 50%;
}

.protocolParagarph {
    text-align: center;
    background-color: #57A773;
    width: 70%;
    border: .5px solid #6A8EAE;
    /* Center horizontally*/
    margin: 0 auto;
}